<!doctype html>
<html lang='en'>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/reset.css'>
    <link rel='stylesheet' href='/styles.css'>
    <title>Bookmark Look</title>
  </head>

  <body>
    <header>
      <h1> Bookmark Look</h1>
    </header>

    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/bookmarks'>Bookmarks</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>