<dl>
  <dt>
    <label for = 'bookmark_url'> Url: </label>
  </dt>
  <dd>
    <input id = 'bookmark_url' type = 'text' name = 'bookmark[url]' value =' <%= @bookmark.url %>'autofocus> 
  </dd>
</dl>

<div class='clear_both'></div>